/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
header {
  width: 100%;
  height: 60px;
  line-height: 3;
  background-color: #1d2731;
  overflow: auto;
}
.logo {
  position: absolute;
  float: left;
  top: 0;
  left: 25px;
}
.menu {
  color: #fff;
  height: 60px;
  line-height: 60px;
  float: right;
  margin-right: 30px;
}
.menu :first-child,
.menu a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0 1em;
  margin: 0 1em;
  line-height: 58px;
}
.menu .nav-active,
.menu a:link,
.menu a:hover {
  color: #1595fb;
}
.menu a:focus {
  color: #1595fb;
}
.banner {
  background: #1d2731;
  color: #fff;
  color: rgba(255,255,255,0.8);
  text-align: center;
  font-size: 16px;
  padding: 100px 0;
}
.banner p {
  font-size: 28px;
}
.banner p img {
  vertical-align: bottom;
}
.banner .banner-nav {
  margin: 20px auto 50px;
  text-align: center;
  line-height: 40px;
}
.banner a {
  display: inline-block;
}
.banner a.install {
  width: 230px;
  font-family: 'Courier New';
  text-align: center;
  background: rgba(255,255,255,0.1);
}
.banner .install:link,
.banner .install:focus,
.banner .install:visited {
  text-decoration: none;
  color: #bbb;
}
.banner .install:hover {
  background: rgba(255,255,255,0.2);
}
.banner a.docs {
  font-family: 'Courier New';
  margin-left: 10px;
  width: 60px;
  background: #c06443;
color
}
.banner .docs:link,
.banner .docs:focus,
.banner .docs:visited {
  text-decoration: none;
  color: #fff;
}
.banner .docs:hover {
  background: rgba(192,100,67,0.9);
}
@import url(http://fonts.googleapis.com/css?family=Roboto:900italic,500italic);

.logo {
    float: left;
    padding: 7px 5px 13px 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    -webkit-perspective: 60px;
    -webkit-backface-visibility: hidden;
}
.logo svg {
    width: 50px;
    height: 50px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(20deg) rotateY(15deg) rotateZ(-35deg);
}
.title,
.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-transform: lowercase;
}
.logo-title {
    float: left;
    margin: 0;
    padding: 10px 0;
    line-height: 50px;
    font-weight: 900;
    font-size: 42px;
    color: #3c4245;
}
.logo-title:after {
    content: '.';
    color: #116ea9;
}
.subtitle {
    float: left;
    margin: 0;
    color: #82898e;
    padding: 12px 0 8px;
    line-height: 50px;
    font-weight: 500;
    font-size: 36px;
}
#sidebar {
  float: left;
  width: 200px;
  height: 80%;
  overflow: hidden;
  overflow-y: auto;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #888;
  line-height: 2.3em;
  white-space: nowrap;
}
::-webkit-scrollbar {
  display: none;
}
.tree {
  height: 80%;
  overflow-y: auto;
}
.tree a {
  color: #888;
  text-decoration: none;
}
.tree a:hover {
  color: #7eb7e5;
}
.tree h1 {
  font-size: 16px;
  line-height: 2em;
  color: #41aaff;
  border-bottom: 1px solid #41aaff;
  margin-bottom: 8px;
  margin-left: 8px;
}
.tree ul {
  margin-left: 10px;
}
.tree li {
  padding-left: 6px;
}
.category ul {
  display: none;
}
.category ul.show {
  display: block;
}
.cat-title {
  padding: 18px;
  background: url("./images/icon2.png") left center no-repeat;
  cursor: default;
}
.open {
  padding: 18px;
  background: url("./images/icon1.png") left center no-repeat;
}
.single-title {
  padding: 18px;
}
article {
  font-family: "Microsoft Yahei", Georgia, "Times New Roman", serif;
  color: #535353;
}
article code {
  font-size: 85%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #e5dfdf;
  border-radius: 3px;
  padding: 0.2em;
}
article h1 {
  font-size: 28px;
  margin-top: 0;
}
article .article-title {
  text-decoration: none;
  font-size: 36px;
  font-weight: 200;
  line-height: 1.5em;
  margin-bottom: 25px;
}
article p,
article table,
article ol,
article ul {
  line-height: 28px;
  margin: 0 0 22px 0;
}
article p h1,
article table h1,
article ol h1,
article ul h1,
article p h2,
article table h2,
article ol h2,
article ul h2,
article p h3,
article table h3,
article ol h3,
article ul h3,
article p h4,
article table h4,
article ol h4,
article ul h4,
article p h5,
article table h5,
article ol h5,
article ul h5,
article p h6,
article table h6,
article ol h6,
article ul h6 {
  font-weight: bold;
  line-height: 1.5em;
  margin: 20px 0 11px 0;
}
article p a,
article table a,
article ol a,
article ul a {
  text-decoration: none;
  color: #11a7db;
}
article figure,
article blockquote {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  background: #d7d7d7;
}
article figure .gutter,
article blockquote .gutter {
  width: 25px;
  border-right: 1px solid #fff;
  text-align: center;
  font-size: 12px;
  color: #888;
}
article figure .code,
article blockquote .code {
  padding-left: 8px;
}
article blockquote {
  padding-left: 8px;
  font-size: 14px;
  font-family: 'Courier New';
}
article .javascript .keyword {
  color: #00e;
}
article .javascript .built_in {
  color: #c41a16;
}
article .javascript .string {
  color: #4ca762;
}
article .javascript .function {
  color: #c41a16;
}
footer {
  color: #535353;
  padding: 25px;
  font-size: 12px;
  line-height: 1.6;
}
footer a {
  color: #7eb7e5;
  text-decoration: none;
  font-weight: 700;
}
footer dl dt {
  float: left;
  clear: left;
  width: 70px;
}
footer dl dd {
  float: left;
  clear: right;
}
footer dl:after {
  content: ' ';
  clear: both;
  display: table;
}
footer .cp {
  margin-top: 3em;
  text-align: center;
}
.footer {
  background-color: #1d2731;
  color: #ddd;
}
.footer a {
  color: #abcde9;
}
.footer .any-other {
  margin: 0 auto;
  max-width: 900px;
}
body {
  font: 16px/1.5 Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
  background: #f7f7f7;
}
.wrap {
  width: 900px;
  margin: 30px auto;
  overflow: auto;
}
#main {
  width: 660px;
  float: right;
}
#main .article-pagination {
  margin: 30px 0;
  font-size: 12px;
  height: 12px;
}
#main .article-pagination a {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}
#main .article-pagination a:hover {
  color: #7ec7e5;
}
#main .article-pagination .article-next {
  float: right;
}
#main::-webkit-scrollbar {
  width: 3px;
}
#main::-webkit-scrollbar-thumb {
  background-color: #7ec7e5;
  border-radius: 8px;
}
