@import "_variables"
@import "reset.css"

body
div
p
  margin: 0
  padding: 0

ul
  list-style: none
html
  height: 100%
body
  background-size: contain
  height: 100%
  overflow-y: scroll
  font: 16px/1.5 "Microsoft YaHei"  Helvetica  STHeiti STXihei   Microsoft JhengHei  Arial
  background: #f4f4f4
&\:\:-webkit-scrollbar
  display: none

@import "_partial/header"
@import "_partial/footer"

#menuarea
  position: absolute
  top: 0
  height: 60px
  width: 100%
  z-index: 1000

.contain
  dl
    margin: 30px auto
  dt
    color: #333
    text-align: center
    margin: 50px auto 20px
    font-size: 18px
    i
      display: block
      font-size: 32px
      margin-bottom: 5px
  dd
    color: #666
    font-size: 14px
    line-height: 1.8
    text-align: center
    margin-bottom: 25px
  .edp-what
    color: #A62727
  .edp-cando
    color: #5D8F46
  .edp-start
    color: #2769A6
  .cont-box
    color: #493125
    margin: 7% auto
    width: 45em
    font-size: 20px
    .item1
      background: url('./images/shell.svg')
    .item2
      background: url('./images/pack.svg')
    .item3
      background: url('./images/install.svg')

    .cont-item
      height: 200px
      padding: 42px 0
      padding-left: 270px
      background-size: 120px
      background-repeat: no-repeat
      background-position: left center
      .item-txt
        h1
          font-size: 26px
          font-weight: bold
          color: #7eb7e5
          margin-bottom: 30px
      .start
        text-decoration: none
        color: #493125
        &:hover
          color: #7eb7e5
