article
  font-size: 14px
  font-family: font-yahei, font-serif
  color: color-default

  code
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
    background: #e6e6e6
    color: #666
    border-radius: 3px
    padding: 0 3px
    margin: 0 3px

  h1
    font-size: 28px
    margin-top: 0

  .article-title
    text-decoration: none
    font-size: 28px
    line-height: line-height-title
    margin-bottom: 25px

  p, table, ol, ul
    line-height: line-height
    margin: entry-margin

    h1, h2, h3, h4, h5, h6
      font-weight: bold
      line-height: line-height-title
      margin: entry-title-margin

    a
      margin: 0 3px
      text-decoration: none
      color: color-link

  figure, blockquote
    font-family: font-mono
    background: #e7e7e7
    .gutter
      width: 25px
      border-right: 1px solid #FFF
      text-align: center
      font-size: 12px
      color: #888
    .code
      padding-left: 8px
      font-size: 12px
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace

  blockquote
    padding-left: 8px
    font-size: 14px
    font-family: 'Courier New'

  .javascript
    .keyword
      color: #0000ee
    .built_in
      color: #c41a16
    .string
      color: #4CA762
    .function
      color: #c41a16

