footer
  color: #535353
  padding: 25px
  font-size: 13px
  line-height: 1.6em
  a
    color: #7eb7e5
    text-decoration: none
    font-weight: 700
  dl
    dt
      float: left
      clear: left
      width: 70px
    dd
      float: left
      clear: right
  dl:after
    content: ' '
    clear: both
    display: table
  .cp
    margin-top: 2em
    text-align: center
.footer
  background-color: #393939
  color: #eee
  a
    color: #abcde9

