footer
  color: #535353
  padding: 25px
  font-size: 12px
  line-height: 1.6
  a
    color: #7eb7e5
    text-decoration: none
    font-weight: 700
  dl
    dt
      float: left
      clear: left
      width: 70px
    dd
      float: left
      clear: right
  dl:after
    content: ' '
    clear: both
    display: table
  .cp
    margin-top: 3em
    text-align: center

.footer
  background-color: #1D2731
  color: #ddd
  a
    color: #abcde9
  .any-other
    margin: 0 auto
    max-width: 900px

