header
  width: 100%
  height: 60px
  line-height: 3
  background-color: #1D2731
  overflow: auto


.logo
  position: absolute
  float: left
  top: 0
  left: 25px

.menu
  color: #fff
  height: 60px
  line-height: 60px
  float: right
  margin-right: 50px

  a
    display: inline-block
    text-decoration: none
    color: #fff
    margin: 0 10px
    line-height: 58px

  .nav-active

  a:link
  a:hover
    color: #7EB7E5
  a:focus
    color: #7EB7E5

.banner
  background: #1D2731
  color: #fff
  color: rgba(255, 255, 255, .8)
  text-align: center
  font-size: 16px
  padding: 100px 0

  p
    font-size: 28px
    img
      vertical-align:bottom
  .banner-nav
    margin: 20px auto 50px
    text-align: center
    line-height: 40px
  a
    display: inline-block
  a.install
    width: 230px
    font-family: 'Courier New'
    text-align: center
    background: rgba(255,255,255,.1)
  .install:link
  .install:focus
  .install:visited
    text-decoration: none
    color: #bbb
  .install:hover
    background: rgba(255,255,255,.2)
  a.docs
    font-family: 'Courier New'
    margin-left: 10px
    width: 60px
    background: #c06443
    color
  
  .docs:link
  .docs:focus
  .docs:visited
    text-decoration: none
    color: #fff
  .docs:hover
    background: rgba(192,100,67,.9)

@import '_partial/logo.css'



