#sidebar
  float: left
  width: 200px
  height: 80%
  overflow: hidden
  overflow-y: auto
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif
  font-size: 11px
  color: #888
  line-height: 2.3em
  white-space: nowrap

&\:\:-webkit-scrollbar
  display: none

.tree
  height : 80%
  overflow-y : auto
  a
    color: #888
    text-decoration: none
    &:hover
      color: #7eb7e5
  h1
    font-size: 16px
    line-height: 2em
    color: #2A6CA1
    border-bottom: 1px solid #2A6CA1
    margin-bottom: 8px
    margin-left: 8px;
  ul
    margin-left: 10px
  li
    padding-left: 6px


.category
  ul.show
    display: block
  .cat-title
    font-size: 14px
    color: #3F85BE


.open
  padding: 18px
  background: url('./images/icon1.png') left center no-repeat
.single-title
  padding: 18px