<header id="header" class=<%= name%>>
    <a class='logo' href="/">
        <img src="<%- url_for('/css/images/logo.png') %>" width="120px">
    </a>
    <nav class="menu">
        <% for (var i in theme.menu){ %>
        <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
    </nav>

</header>