<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title><%= page.title %> | EDP</title>
    <%- css('css/page') %>
    <script type="text/javascript" src="/js/dtree.js"></script>
</head>