<header id="header">
    <a class='logo' href="<%- url_for('/edp/') %>">
        <img src="<%- url_for('css/images/logo.png') %>" width="120" alt="logo">
    </a>

    <nav class="menu">
        <a href="<%- url_for('doc/initialization/1-install/') %>"><i class="fa fa-book"></i> Docs</a>
        <a href="https://github.com/ecomfe/edp" target="_blank"><i class="fa fa-github"></i> GitHub</a>
    </nav>
</header>