<header id="header">
    <a class='logo' href="<%- url_for('/edp/') %>">
        <img src="<%- url_for('css/images/logo.png') %>" width="120" alt="logo">
    </a>

    <nav class="menu">
        <a href="<%- url_for('Doc/Initialization/1-install/') %>">Docs</a>
        <a href="https://github.com/ecomfe/edp" target="_blank">GitHub</a>
    </nav>
</header>