#header
  height: 0px
  /*position: relative*/
  background: #393939
  padding: 0px container-padding

  &.open
    height: 60px

    /*margin: 33px 30px 0 0*/
  
#header-outer
  height: 100%
  wdith: 100%
  position: relative

  .logo
    float: left
    margin-left: 10px
    margin-top: 7px


#header-inner
  display: block
  height: 100%
  overflow: hidden

#main-nav
  line-height: 57px
  margin-left: 60%
  /*position: relative*/
  /*float: left*/
  /*top: 20px*/
  /*left: 60%*/

$nav-link
  /*float: left*/
  color: #ff5a09
  text-decoration: none
  display: inline-block
  padding: 0px 20px
  &:focus
  &:hover
    border-bottom: 2px solid #ff5a09
    transition: border-bottom-width 0.3s ease-in

/*.nav-icon*/
  /*@extend $nav-link*/
  /*font-family: font-icon*/
  /*text-align: center*/
  /*font-size: font-size*/
  /*width: font-size*/
  /*height: font-size*/
  /*padding: 5px 7px*/
  /*position: relative*/
  /*cursor: pointer*/
  /*float: left*/
  /*top: 37px*/

.main-nav-link
  @extend $nav-link
  font-family: 'Open Sans', font-yahei
  font-weight: 600

/*#main-nav-toggle*/
  /*display: none*/
  /*&:before*/
    /*content: "\f0c9"*/
  /*@media mq-mobile*/
    /*display: block*/

/*#sub-nav*/
  /*float: right*/

/*#nav-rss-link*/
  /*&:before*/
    /*content: "\f09e"*/




