#sidebar
  text-align: left
  width: 15%
  float: left
  background-color: #6e6e6e

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-default
  padding: 15px 0px
  a
    color: #2A9BD5
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc