<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EDP</title>
    <%- css('css/reset') %>
    <%- css('css/home') %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js">
    </script>
    <script src="js/jquery.mousewheel.js"></script>
</head>
<body>
<header>
    <nav class="menu">
        首页
        <a href="page/demo.html">演示</a>
        <a href="page/demo.html">文档</a>
        <a href="page/demo.html">Github</a>
    </nav>
    <div id="logo"></div>
    <div id="description"></div>
</header>
<div class="main">
    <div class="showBox">
        <section class="feature">
            <h4>包管理</h4>
        </section>
        <section class="feature">
            <h4>项目管理</h4>
        </section>
        <section class="feature">
            <h4>调试</h4>
        </section>
        <section class="feature">
            <h4>构建</h4>
        </section>
    </div>
</div>
<footer>
    <a href="page/demo.html">start</a>
</footer>
<script src="js/scrolling.js"></script>
<script>
    $(document).ready(function() {

            console.log('start');
            var mousewheel = document.all ? "mousewheel" : "DOMMouseScroll";
            var hChange = $(".feature").height();
            console.log(hChange);
            console.log(mousewheel);


            $(".showBox")
                    .bind("mousewheel", function (event, delta) {
                        var scroll = new Scrolling(".showBox", hChange);
                        console.log("delta=" + delta);
                        console.log("hChange="+ hChange);
                        if (delta > 0) {
                                scroll.scrollUp();
                        }
                        else {
                                scroll.scrollDown();
                        }
                        return false;
                    });
    });
</script>
</body>
</html>