<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <a href="<%- url_for() %>" class="logo"><%= config.title %></a>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>